## service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true #not necessary for app deployed in single zone
---
controller:
  service:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing" 




















